---
theme :
  name : junjie
---
{% include JB/setup %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Junjie Wang</title>

    <!-- Bootstrap Core CSS -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/jpg" href="{{ ASSET_PATH }}/img/log.jpg">
    <!-- Fonts -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- Custom Theme CSS -->
    <link href="{{ ASSET_PATH }}/css/grayscale.css" rel="stylesheet">

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">

    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">
                    <img src="{{ ASSET_PATH }}/img/log.jpg" />  <span class="light">Junjie Wang </span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">About</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#download">Resume</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">Contact</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact" ><b><font color="#28c3ab" font-weight=700>Blog</font></b></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <section id="home"class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Hello world!</h1>
                        <p class="intro-text"> I am <b>Junjie Wang</b>, a graduate student studying Information Management at <b>University of Washington</b>. I like modern technology. I'm interested in software development and data analysis. And I am a huge fan of sports(and e-sports!), Manchester United is my favourite soccer team and DK is my favourite dota2 team. </p>
                        <div class="page-scroll">
                            <a href="#about" class="btn btn-circle">
                                <i class="fa fa-angle-double-down animated"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="about" class="container content-section text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
				<h2 style="text-align:left">Experience</h2>
				<div class="col-md-4" style="text-align:right">
                    <a class="lead">June 2013 - Present</a>
                    <a class="lead">SoundDecision, Seattle</a>
                </div>
				<div class="col-md-8">
					<p class="lead" style="text-align:left" >Software Engineer Intern</p>
					<ul style="text-align:left">
						<li>Developed web application using Play!Framework, applied AngularJS </li>
						<li>Integrated MusicEncoder into web application, implemented with xuggle and jaudiotagger</li>
					</ul>
				</div>
				<div class="col-md-4" style="text-align:right">
                    <a class="lead">Nov 2011 - Feb 2012	 </a>
                    <a class="lead">Ernst &amp; Young Advisory, Beijing</a>
                </
				<div class="col-md-8">
					<p class="lead" style="text-align:left" >IT Risk and Assurance Intern</p>
					<ul style="text-align:left">
						<li> Projects: Air China, West Mining Group, China Hydroelectric </li>
						<li>Integrated MusicEncoder into web application, implemented with xuggle and jaudiotagger</li>
					</ul>
				</div>
				<div class="col-md-4" style="text-align:right">
                    <a class="lead">Aug 2011 - Oct 2011	</a>
                    <a class="lead">Computer Center of Tsinghua University, Beijing  </a>
                </div>
				<div class="col-md-8">
					<p class="lead" style="text-align:left" >Software Engineer Intern</p>
					<ul style="text-align:left">
						<li>Projects: campus SNS website </li>
					</ul>
				</div>
			</div>
            <br />
            <div class="col-lg-8 col-lg-offset-2">
                <h2 style="text-align:left">EDUCATION</h2>
				<div class="col-md-4" style="text-align:right">
                    <p class="lead">Sep. 2012 – Jun. 2014	</p>
                    <p class="lead">University of Washington, Seattle </p>
                </div>
				<div class="col-md-8">
					<p class="lead" style="text-align:left" >Master of Science in Information Management, GPA 3.66/4.0</p>
                    <p class="lead" style="text-align:left" >Master of Science in Information Management, GPA 3.66/4.0</p>
				</div>
				<div class="col-md-4" style="text-align:right">
                    <p class="lead">Sept. 2008 – Jul. 2012	</p>
                    <p class="lead">Renmin University of China, Beijing </p>
                </div>
				<div class="col-md-8">
					<p class="lead" style="text-align:left" >Bachelor Degree in Information Management and Information System, Major GPA 3.80/4.0</p>
					<ul style="text-align:left">
						<li>Projects: campus SNS website </li>
					</ul>
				</div>
			</div>
            
            <div class="col-lg-8 col-lg-offset-2">
                <h2>PROJECTS</h2>
                <div class="col-md-4" style="text-align:right">
                    <p class="lead">Jan 2014</p>
                    <p class="lead">Internship China #Java - A website provides Chinese internship information </p>
                </div>
				<div class="col-md-8">
					<p class="lead" style="text-align:left" >Internship China #Java - A website provides Chinese internship information</p>
					<ul style="text-align:left">
						<li>Developed with Java, using web scraper class to retrieve internship hiring information from different university BBS in China </li>
                        <li>Design and develop the user interface using Bootstrap, HTML, CSS, Javascript</li>
					</ul>
				</div>
                <div class="col-md-4" style="text-align:right">
                    <p class="lead">Jan 2014	</p>
                    <p class="lead">Immunization Recommendation Web Application #Java #JavaScript </p>
                </div>
				<div class="col-md-8">
					<p class="lead" style="text-align:left" >Immunization Recommendation Web Application #Java #JavaScript</p>
					<ul style="text-align:left">
						<li>Implement complex algorithm to ensure correct and thorough recommendations based patient’s demographic data </li>
                        <li>Implement Java backend, Bootstrap and Ember.js frontend</li>
					</ul>
				</div>
                <div class="col-md-4" style="text-align:right">
                    <p class="lead">Dec 2013 	</p>
                    <p class="lead">Calendar Android Application with geographic feature #Java </p>
                </div>
				<div class="col-md-8">
					<p class="lead" style="text-align:left" >Calendar Android Application with geographic feature #Java</p>
					<ul style="text-align:left">
						<li>Developed geographical identification function, using Google Map API</li>
                        <li>Developed automatically notification function</li>
                        <li>Designed user interface for the whole project</li>
					</ul>
				</div>
                <div class="col-md-4" style="text-align:right">
                    <p class="lead">Dec 2013 	</p>
                    <p class="lead">Data Mining Project: EPL Match Prediction #R #Python </p>
                </div>
				<div class="col-md-8">
					<p class="lead" style="text-align:left" >Data Mining Project: EPL Match Prediction #R #Python</p>
					<ul style="text-align:left">
						<li>Captured data using python scripts and open database</li>
                        <li>Built accumulative linear regression model with R</li>
                        <li>Visualized with D3, overall accuracy above 50% for each game</li>
					</ul>
				</div>
                <div class="col-md-4" style="text-align:right">
                    <p class="lead">Dec 2012 	</p>
                    <p class="lead">Contextual Design &amp; User Interface Design –iBus  </p>
                </div>
				<div class="col-md-8">
					<p class="lead" style="text-align:left" >Data Mining Project: EPL Match Prediction #R #Python</p>
					<ul style="text-align:left">
						<li>Designed interactive information systems that can be installed in buses</li>
                        <li>Conducted contextual inquiry, analyzed functional requirements, built UX Models</li>
                        <li>Developed prototype and conducted usability testing</li>
					</ul>
				</div>
            </div>
            <div class="col-lg-8 col-lg-offset-2">
                <h2>ACTIVITIES </h2>
                <p>Jan 2014 – present  Volunteer, UW Harborview Medical Center</p>
                <p>Dec 2012 – present  Officer, Chinese Students and Scholars Association, University of Washington </p>
            </div>
                
            <div class="col-lg-8 col-lg-offset-2">
                <h2>SKILLS </h2>
                <p>Java, Python (iPython SciPy), R, HTML, CSS, Javascript (jQuery, anjularJS), XML</p>
                 <a href="http://startbootstrap.com/grayscale" class="btn btn-default btn-lg"><i class="fa fa-arrow-circle-o-down"></i>&nbsp; Download CV</a>
            </div>
        </div>
    </section>

    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2></h2>
                    <p>You can download Grayscale for free on the download page at Start Bootstrap. You can also get the source code directly from GitHub if you prefer. Additionally, Grayscale is the first Start Bootstrap theme to come with a LESS file for easy color customization!</p>
                    <a href="http://startbootstrap.com/grayscale" class="btn btn-default btn-lg">Visit Download Page</a>
                </div>
            </div>
        </div>
    </section>

    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact Me</h2>
                <p>Feel free to email me about anything!!</p>
                <p>junjie@uw.edu</p>
                <ul class="list-inline banner-social-buttons">
                    
                    <li><a href="https://github.com/JunjieWang" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </section>

    <div id="map"></div>

    <!-- Core JavaScript Files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - You will need to use your own API key to use the map feature -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=9yrQblqnc1pg2A7NCNA6EOcF&sensor=false"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{{ ASSET_PATH }}/js/grayscale.js"></script>

</body>

</html>
