<div class="thirteen columns offset-by-six content">
       <h1 class="remove-bottom hi" style="margin-top: 150px">Junjie's todo list:</h1>
    
    <p style="color: #28c3ab;">12/22/2014 &mdash; 12/27/2014</p>
        <ul>
            <li>
                Rewrite this blog, using new and clear framework.
            </li>
            <li>
                Organize my blog.
            </li>
            <li>
                Read 100 page of HEAD FIRST JAVASCRIPT
            </li>
        </ul>
    <p style="color: #28c3ab;">Extra</p>
      <ul>
          <li>
              leetcode 1-5.
          </li>
      </ul>
</div>      
