<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>{{ site.name }}</title>
</head>
<body>
<button onclick="myFunction()">Vote</button>

</body>


<script>
    function myFunction() {
    var count = 6;
            while(count > 0) {
              var theUrl = "http://photo2016.sc157.com//zt/xxyztoupiao/do.ashx?_action=toupiao&hdid=3689&randstr=" + makeid() +
              "&tk=E79A5A58F18C96BF1CAED142AF6255A9&t=" + Math.random() + "&_=" + Date.now();
              count = count - 1;
              aClient = new HttpClient();
              aClient.get(theUrl, function(response) {
              Console.log(response);
                Console.log("Voted: " + (6 - count));
              });
    }
  }

    var HttpClient = function() {
    this.get = function(aUrl, aCallback) {
        var anHttpRequest = new XMLHttpRequest();
        anHttpRequest.onreadystatechange = function() {
            if (anHttpRequest.readyState == 4 && anHttpRequest.status == 200)
                aCallback(anHttpRequest.responseText);
        }
        anHttpRequest.withCredentials = false;

        anHttpRequest.open( "GET", aUrl, true );
        anHttpRequest.send("");

    }
  }

  function makeid()
{
    var text = "";
    var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

    for( var i=0; i < 7; i++ )
        text += possible.charAt(Math.floor(Math.random() * possible.length));

    return text;
}




</script>