/*
 * Globals
 */

font-family: 'Lato', sans-serif;
/* Links */
a,
a:focus,
a:hover {
  color: #242E35;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color:#FFFFFF;
}
body {
  color: #242E35;
  text-align: center;
  /*text-shadow: 0 1px 3px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
*/
}

.navigation {
  position: fixed;
  top: 0; 
  width: 100%;
  color: #ffffff;
  height: 55px;
  text-align: center;
  
  /* Adds shadow to the bottom of the bar */
  -webkit-box-shadow: 0px 0px 8px 0px #000000;
  -moz-box-shadow: 0px 0px 8px 0px #000000;
  box-shadow: 0px 0px 8px 0px #000000;
  /* Adds the transparent background */
  background-color: rgba(1, 1, 1, 0.8);
  color: rgba(1, 1, 1, 0.8);
}
.navigation a {
    vertical-align: middle; 
    font-family: 'Lato', sans-serif;
    font-weight: 400;
	font-size: 14px;
    font-stretch: expanded;
	padding-left: 2.5%;
	padding-right: 2.5%;
	color: white;
	text-decoration: none;
}
.navigation a+a {
    margin-left: 5%;
}
.navigation >a> img {
    width: 55px;
	height: 55px;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
}

.navigation a:hover {
	color: grey;
}

.navigation a:focus {
	color: red;
}
